body{
     background-color: cornflowerblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana !important;
    display:flex !important;
    flex-direction:column !important;
    min-height: 100vh !important;
}
.container{
    flex:1 !important;
}
.navbar{
    height: 5rem;
}
.fa-compass{
    color:#FF4365;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}
.sticky-top{
    background-color: white;
}
.f-info-links a{
    text-decoration: none;
    color:#222222
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,
.f-info-socials{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right:1rem;
}
.f-info{
     /* position:fixed;
     bottom:0px;  */
    width:100%;
    text-align: center;
    display:flex;
    height:7rem;
    background-color: rgb(219, 216, 216);
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;  
}
.card{
    border:none !important;
    margin-bottom:2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important;
}
.listinklink{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
}
.btn-dark{
    background-color: #FF4365 !important;
}
.show-img{
    height:40vh;
}
.btnss{
    display:flex;
    /* justify-content: space-evenly;
    align-items: space-evenly; */
}
.dlt{
    margin-left:10rem;
}
.cardbody{
    border:1px solid black;
    border-radius: 20px;
}
